<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.face.mapper.FaceMapper">

    <resultMap id="BaseResultMap" type="com.face.bean.Face">
            <id property="fid" column="fid" jdbcType="INTEGER"/>
            <result property="faceBase" column="face_base" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="vefNum" column="vef_num" jdbcType="INTEGER"/>
            <result property="faceName" column="face_name" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="faceStatus" column="face_status" jdbcType="INTEGER"/>
            <result property="idNo" column="id_no" jdbcType="VARCHAR"/>
            <result property="id2Status" column="id2_status" jdbcType="VARCHAR"/>
            <result property="city" column="city" jdbcType="VARCHAR"/>
            <result property="apiKey" column="api_key" jdbcType="VARCHAR"/>
            <result property="apiNum" column="api_num" jdbcType="INTEGER"/>
            <result property="apiTime" column="api_time" jdbcType="TIMESTAMP"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        fid,face_base,create_time,
        vef_num,face_name,remark,
        face_status,id_no,id2_status,
        city,api_key,api_num,phone
    </sql>
</mapper>
