<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.face.mapper.OauthClientMapper">

    <resultMap id="BaseResultMap" type="com.face.bean.OauthClient">
            <id property="fid" column="fid" jdbcType="INTEGER"/>
            <result property="ClientId" column="client_id" jdbcType="VARCHAR"/>
            <result property="ClientSecret" column="client_secret" jdbcType="VARCHAR"/>
            <result property="WebServerRedirectUrl" column="web_server_redirect_url" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        fid,client_id,client_secret,
        web_server_redirect_url
    </sql>
</mapper>
